<script th:src="@{/js/books.js}"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                <tr style="text-align: center;">
                    <th scope="col">书名</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">出版社</th>
                    <th scope="col">作者</th>
                    <th scope="col">页数</th>
                    <th scope="col">价格</th>
                    <th scope="col">上架时间</th>
                    <th scope="col">剩余数量</th>
                    <th th:if="(${session.USER_SESSION.role} == '2' ) or (${session.USER_SESSION.role} == '1')"
                        scope="col">状态
                    </th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody style="text-align: center;">
                <tr th:each="book : ${books}">
                    <th scope="row" th:text="${book.bookname}"></th>
                    <td th:text="${book.isbn}"></td>
                    <td th:text="${book.press}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.pagination}"></td>
                    <td th:text="${#numbers.formatDecimal(book.price,0,'COMMA',2,'POINT')}"></td>
                    <td th:text="${book.uploadTime}"></td>
                    <td th:text="${book.remainNum}"></td>
                    <td th:if="(${session.USER_SESSION.role} == '2' ) or (${session.USER_SESSION.role} == '1')">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success book-status" th:data-status="0" th:if="${book.status == '1'}"
                                    th:data-id="${book.id}">启用
                            </button>
                            <button type="button" class="btn btn-danger book-status" th:data-status="1" th:if="${book.status == '0'}"
                                    th:data-id="${book.id}">停用
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button"
                                    class="btn btn-success book-borrow"
                                    th:disabled="(${book.remainNum == 0}) or (${book.status == '1'})"
                                    th:data-id="${book.id}">借阅
                            </button>
                            <button th:if="${session.USER_SESSION.role} == '2'" type="button"
                                    class="btn btn-danger book-delete"
                                    th:data-id="${book.id}">删除
                            </button>
                            <button th:if="(${session.USER_SESSION.role} == '2' ) or (${session.USER_SESSION.role} == '1')"
                                    type="button"
                                    class="btn btn-warning book-edit" data-dismiss="modal"
                                    th:data-id="${book.id}">编辑
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="bookBorrowModal" tabindex="-1" role="dialog" aria-labelledby="bookBorrowModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookBorrowModalLabel">借阅信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="borrow-form" method="POST">
                        <div class="mb-3">
                            <label for="remand-date">预计归还时间</label>
                            <input type="date" id="remand-date" name="remand-date" autocomplete="off" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" th:data-id="0" data-dismiss="modal" id="borrow-submit">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="bookEditModal" tabindex="-1" role="dialog" aria-labelledby="bookEditModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookEditModalLabel">图书信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="book-form" method="POST">
                        <div class="mb-4">
                            <label for="bookname">书名：</label>
                            <input type="text" id="bookname" name="bookname" autocomplete="off" required>
                        </div>
                        <div class="mb-4">
                            <label for="press">出版：</label>
                            <input type="text" id="press" name="press" autocomplete="off" required>
                        </div>
                        <div class="mb-4">
                            <label for="author">作者：</label>
                            <input type="text" id="author" name="author" autocomplete="off" required>
                        </div>
                        <div class="mb-4">
                            <label for="price">价格：</label>
                            <input type="text" id="price" name="price" autocomplete="off" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" th:data-id="0" id="book-update">
                        保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-6">
            <nav aria-label="page navigation">
                <ul class="pagination">
                    <li id="prev" class="page-item disabled">
                        <a class="page-link" href="javascript:void(0)">上一页</a>
                    </li>
                    <li id="pageNumber">
                    </li>
                    <li id="next" class="page-item">
                        <a class="page-link" href="javascript:void(0)">下一页</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col">
            <div id="pagination"></div>
        </div>
    </div>
</div>