<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                <tr style="text-align: center;">
                    <th scope="col">图书</th>
                    <th scope="col">出版社</th>
                    <th scope="col">作者</th>
                    <th scope="col">借阅时间</th>
                    <th scope="col">预计归还时间</th>
                    <th th:if="${pageFlag} == '1'" scope="col">归还状态</th>
                    <th th:if="${pageFlag} == '2'" scope="col">还书申请</th>
                </tr>
                </thead>
                <tbody style="text-align: center;">
                <tr th:each="record : ${records}">
                    <td th:text="${record.book.bookname}"></td>
                    <td th:text="${record.book.press}"></td>
                    <td th:text="${record.book.author}"></td>
                    <td th:text="${record.borrowDate}"></td>
                    <td th:text="${record.remandDate}"></td>
                    <td class="text-success" th:if="(${record.status} == '0' )">
                        已归还
                    </td>
                    <td class="text-danger" th:if="((${record.status} == '1') and (${pageFlag} == '1'))">
                        未归还
                    </td>
                    <td class="text-info" th:if="((${record.status} == '1') and (${pageFlag} == '2'))">
                        <button type="button" class="btn btn-warning book-return"
                                th:data-recordid="${record.id}" >提交申请</button>
                    </td>
                    <td class="text-info" th:if="(${record.status} == '2' )">
                        待审批
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:src="@{/js/records.js}"></script>