<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yiran.booklending.mapper.BookMapper">
    <resultMap id="bookMap" type="pers.yiran.booklending.entity.Book">
        <id property="id" column="book_id"/>
        <result property="bookname" column="book_name"/>
        <result property="isbn" column="book_isbn"/>
        <result property="press" column="book_press"/>
        <result property="author" column="book_author"/>
        <result property="pagination" column="book_pagination"/>
        <result property="price" column="book_price"/>
        <result property="uploadTime" column="book_uploadtime"/>
        <result property="status" column="book_status"/>
        <result property="remainNum" column="book_initnum"/>
    </resultMap>
    <update id="bookUpdate">
        UPDATE book
        <set>
            <if test="#{bookname} != null">
                book_name = #{bookname},
            </if>
            <if test="#{press} != null">
                book_press = #{press},
            </if>
            <if test="#{price} != null">
                book_price = #{price},
            </if>
            <if test="#{author} != null">
                book_author = #{author}
            </if>
        </set>
        <where>
            book_id = #{id}
        </where>
    </update>

    <update id="setStatus">
        UPDATE book SET book_status = #{status} WHERE book_id = #{id}
    </update>

    <select id="getBookList" resultMap="bookMap">
        SELECT * FROM book WHERE book_status = '0'
    </select>
    <select id="selectOneById" resultMap="bookMap">
        SELECT * FROM book WHERE book_id = #{id}
    </select>
    <select id="getBookListNotReader" resultMap="bookMap">
        SELECT * FROM book ORDER BY book_status
    </select>

</mapper>