<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yiran.booklending.mapper.RecordMapper">
    <resultMap id="recordMap" type="pers.yiran.booklending.model.RecordModel">
        <id property="id" column="record_id"/>
        <result property="borrowDate" column="record_borrow_date"/>
        <result property="remandDate" column="record_remand_date"/>
        <result property="status" column="record_status"/>
        <association property="book" javaType="pers.yiran.booklending.entity.Book"
                     column="record_book_id"
                     select="pers.yiran.booklending.mapper.BookMapper.selectOneById"/>
        <association property="user" javaType="pers.yiran.booklending.model.UserModel"
                     column="record_borrower_id"
                     select="pers.yiran.booklending.mapper.UserMapper.selectById"/>
    </resultMap>
    <insert id="addRecord">

    </insert>
    <update id="returnBook">
        UPDATE record
        SET record_status = '2'
        WHERE record_borrower_id = #{userId}
          AND record_id = #{recordId}
    </update>
    <select id="getRecordList" resultMap="recordMap">
        SELECT *
        FROM record
        ORDER BY record_status DESC
    </select>
    <select id="getPersonalRecordList" resultMap="recordMap">
        SELECT * FROM record
        <where>
            record_borrower_id = #{userId}
        </where>
        ORDER BY record_status DESC
    </select>
    <select id="getRecordStatus" resultType="java.lang.Integer">
        SELECT record_status
        FROM record
        WHERE record_id = #{recordId}
    </select>
    <select id="getPersonalNotReturnedList" resultMap="recordMap">
        SELECT * FROM record
        <where>
            record_borrower_id = #{userId} AND record_status = '1'
        </where>
        ORDER BY record_status
    </select>
    <select id="getNotApproval" resultMap="recordMap">
        SELECT *
        FROM record
        WHERE record_status = '2'
        ORDER BY record_borrower_id ,record_remand_date
    </select>
</mapper>