<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yiran.booklending.mapper.RecordMapper">
    <resultMap id="recordMap" type="pers.yiran.booklending.model.RecordModel">
        <id property="id" column="record_id"/>
        <result property="borrowDate" column="record_borrow_date"/>
        <result property="remandDate" column="record_remand_date"/>
        <result property="status" column="record_status"/>
        <association property="book" javaType="pers.yiran.booklending.entity.Book"
                     column="record_book_id"
                     select="pers.yiran.booklending.mapper.BookMapper.selectOneById"/>
        <association property="user" javaType="pers.yiran.booklending.model.UserModel"
                     column="record_borrower_id"
                     select="pers.yiran.booklending.mapper.UserMapper.selectById"/>
    </resultMap>
    <insert id="addRecord">

    </insert>
    <select id="getRecordList" resultMap="recordMap">
        SELECT * FROM record
    </select>
</mapper>