<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yiran.booklending.mapper.UserMapper">

    <resultMap id="userMap" type="pers.yiran.booklending.entity.User">
        <id property="id" column="user_id"/>
        <result property="email" column="user_email"/>
        <result property="password" column="user_password"/>
        <result property="username" column="user_name"/>
        <result property="gender" column="user_gender"/>
        <result property="birthday" column="user_birthday"/>
        <result property="phone" column="user_phone"/>
        <result property="role" column="user_role"/>
        <result property="status" column="user_status"/>
    </resultMap>

    <resultMap id="userModelMap" type="pers.yiran.booklending.model.UserModel">
        <id property="id" column="user_id"/>
        <result property="username" column="user_name"/>
        <result property="gender" column="user_gender"/>
        <result property="birthday" column="user_birthday"/>
        <result property="phone" column="user_phone"/>
        <result property="role" column="user_role"/>
    </resultMap>

    <update id="update">
        UPDATE user
        <set>
            <if test="#{gender} != null">
                user_gender = #{gender},
            </if>
            <if test="#{username} != null">
                user_name = #{username},
            </if>
            <if test="#{birthday} != null">
                user_birthday = #{birthday},
            </if>
            <if test="#{phone} != null">
                user_phone = #{phone}
            </if>
        </set>
        <where>
            user_id = #{id} AND user_role = #{role}
        </where>
    </update>

    <update id="setStatus">
        UPDATE user SET user_status = #{status} WHERE user_id = #{id}
    </update>

    <delete id="delete">
        DELETE
        FROM user
        WHERE user_id = #{id}
    </delete>

    <select id="login" resultMap="userMap">
        SELECT *
        FROM user
        WHERE user_email = #{email}
          AND user_status != '1'
        LIMIT 1
    </select>

    <select id="getUserList" resultMap="userMap">
        SELECT *
        FROM user
        WHERE user_role = #{role}
    </select>
    <select id="select" resultMap="userModelMap">
        SELECT * FROM user
        <where>
            user_id = #{id} AND user_role = #{role}
        </where>
    </select>
    <select id="selectById" resultMap="userModelMap">
        SELECT * FROM user WHERE user_id = #{id}
    </select>
</mapper>